@import "tailwindcss";

@plugin "tailwindcss-animate";

:root {
  --primary: #1982C4;
  --primary2: #67B7FD;
  --orange: #E29E21; 
  --yellow: #F9F871;
  --purple: #9262B5;
  --dark: #3C4856;
  --light: #D7F3FF;
}

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --color-primary: var(--primary);
  --color-primary2: var(--primary2);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --spacing-root-header: 70px;
  --spacing-section: 80px;
}

@layer components {
    .heading1 {
        @apply text-4xl md:text-5xl xl:text-6xl font-bold
    }

    .heading2 {
        @apply text-3xl md:text-4xl xl:text-5xl font-bold
    }

    .header-background {
        background: radial-gradient(
            farthest-corner circle at top right in oklab,
            var(--primary) 0%, var(--yellow) 100%
        );
    }
}