@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

:root {
  --primary: #1982C4;
  --primary2: #67B7FD;
  --orange: #E29E21; 
  --yellow: #F9F871;
  --purple: #9262B5;
  --dark: #3C4856;
  --light: #D7F3FF;
  --gray: #A0ACBD;
}

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --color-primary: var(--primary);
  --color-primary2: var(--primary2);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-gray: var(--gray);
  --color-orange: var(--orange);
  --color-purple: var(--purple);
  --spacing-root-header: 70px;
  --spacing-section: 80px;
  --animate-rotate: rotate 1s infinite steps(10)
}

@layer base {
    html {
        @apply scroll-smooth
    }
}

@layer components {
    .heading1 {
        @apply text-4xl md:text-5xl xl:text-6xl font-bold
    }

    .heading2 {
        @apply text-3xl md:text-4xl xl:text-5xl font-bold
    }

    .bigger-text {
        @apply text-lg md:text-xl lg:text-2xl font-medium
    }

    .heading-margin-bottom {
        @apply mb-10 md:mb-16
    }

    .link {
        @apply text-primary hover:text-primary2 transition-colors duration-300
    }

    .nav-link {
        @apply text-dark hover:text-primary transition-colors duration-300
    }

    .header-background {
        background: radial-gradient(
            farthest-corner circle at top right in oklab,
            var(--primary) 0%, var(--yellow) 100%
        );
    }
}

@layer utilities {
    .mask {
        --b: 8px; 
        mask:
            repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
            radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
        -webkit-mask-composite: destination-in;
        mask-composite: intersect;
    }
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}