@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

:root {
  --primary: #1982C4;
  --primary2: #67B7FD;
  --orange: #E29E21; 
  --yellow: #F9F871;
  --purple: #9262B5;
  --foreground: #3C4856;
  --background-light: #D7F3FF;
  --background: #BDEBFF;
  --background-dark: #A3E3FF;
  --border: #3DC5FF;
  --gray: #A0ACBD;
  --ring: #1982C4;
  --section: 5rem;
  --nav-height: 4.5rem;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary2: var(--primary2);
  --color-foreground: var(--foreground);
  --color-background-light: var(--background-light);
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-border: var(--border);
  --color-gray: var(--gray);
  --color-orange: var(--orange);
  --color-purple: var(--purple);
  --color-ring: var(--ring);
  --spacing-nav-height: var(--nav-height);
  --spacing-section: var(--section);
  --animate-rotate: rotate 1s infinite steps(10)
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background-light text-foreground
    }
}

@layer components {
    .heading1 {
        @apply text-4xl md:text-5xl xl:text-6xl font-bold
    }

    .heading2 {
        @apply text-3xl md:text-4xl xl:text-5xl font-bold
    }

    .heading3 {
        @apply text-2xl md:text-3xl xl:text-4xl font-semibold
    }

    .bigger-text {
        @apply text-xl md:text-2xl font-medium
    }

    .little-bigger-text {
        @apply text-lg md:text-xl
    }

    .heading-margin-bottom {
        @apply mb-10 md:mb-16
    }

    .link {
        @apply text-primary hover:text-primary2 transition-colors duration-300
    }

    .nav-link {
        @apply text-foreground hover:text-primary transition-colors duration-300
    }

    .header-background {
        background: radial-gradient(
            farthest-corner circle at top right in oklab,
            var(--primary) 0%, var(--yellow) 100%
        );
    }

    .radial-background {
        background: radial-gradient(circle,rgba(61, 197, 255, 1) 20%, rgba(215, 243, 255, 1) 80%);
    }
}

@layer utilities {
    .mask {
        --b: 8px; 
        mask:
            repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
            radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
        -webkit-mask-composite: destination-in;
        mask-composite: intersect;
    }
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}